#CabeceraAdmin{
    background: #222427;
    padding: 1px;

}
.Menu_cabeceraAdmin{
    width: center;
}
.Inicio_registroAdmin ul{
    margin-left: 2%;
    list-style: none;
    width: 40%;
}
.Inicio_registroAdmin ul a{
    text-decoration: none;
    color: rgb(197, 197, 197);
}

.NombreAdmin{
    margin-top: 15px;
    font-size: 110%;
}

.minimenuAdmin{
    text-align: left;
    background: #161719;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5%;
    
    justify-content: center;
}

.minimenuAdmin li a p{
    margin-top: 5%;
}

.minimenuAdmin li a :hover{
    color: rgb(220, 143, 0);
    border-radius: 2px;
}



.navAdmin li ul{
    display: none;
    min-width: 10%;
}
.navAdmin li:hover > ul{
    display: block;
}
